repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.4
  hooks:
  - id: ruff
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
  - id: mypy
    args:
    - --config=backend/mypy.ini
    - --namespace-packages
    - --cache-dir=/dev/null
    - backend/app
    additional_dependencies:
    - sqlalchemy[mypy]>=2.0
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
