[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
x509_extensions    = v3_req
distinguished_name = dn

[ dn ]
C  = US
ST = Dev
L  = Dev
O  = MNA
CN = api.mna.local

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = api.mna.local
DNS.2 = grafana.mna.local
DNS.3 = minio.mna.local
DNS.4 = prometheus.mna.local
